body{background-color: lemonchiffon;}
table{border:solid 15px lightsalmon;width: 1300px;
    height: 600px;font-size: 20px;text-align: center;
margin: 40px 50px 35px 90px;padding: 18px;}
th{background-color:rgb(255, 225, 180);}