.head{
    background: red;
    height:200px ;
margin-bottom: 10px;
margin-top: 10px;
}
.sidebar{
    background-color: yellow;
    height: 500px;
margin-bottom: 10px;
margin-top: 10px;
width: 25%;
margin-right:1% ;
float: left;}
.content{
    background-color: green;
    height: 500px;
margin-bottom: 10px;
margin-top: 10px;
width: 48%;
float:left ;}
.sidebar2{
    background-color: yellow;
    height: 500px;
margin-bottom: 10px;
margin-top: 10px;
margin-left:1% ;
width: 25%;
float: right;}
.footer{
    background-color: blue;
    height: 300px;;
margin-bottom: 10px;
margin-top: 10px;}
.group:after {
    content: "";
    display: table;
    clear: both;
  }
  h1{font-size: 35px;
color: rgb(22, 7, 37);}
img{width: 880px;
height: 500px;}
.a{width:1900px ;
height: 200px;}
h2{color: rgb(177, 136, 2);
font-size: 30px;}
ul{color: rgb(141, 45, 0);
font-size: 25px;}
ol{color: rgb(141, 45, 0);
font-size: 25px;}